.accent-1 .content h1 em {color: #5FA297}
.accent-1 .sidebar {background-color: #5FA297;}
.accent-1 .content, .accent-1 .content h1 {border-color: #5FA297}

.accent-2 .content h1 em {color: #5FA25F}
.accent-3 .sidebar {background-color: #5FA25F;}
.accent-2 .content, .accent-2 .content h1 {border-color: #5FA25F}

.accent-3 .content h1 em {color: #645FA2}
.accent-3 .sidebar {background-color: #645FA2;}
.accent-3 .content, .accent-3 .content h1 {border-color: #645FA2}

.accent-4 .content h1 em {color: #5F82A2}
.accent-4 .sidebar {background-color: #5F82A2;}
.accent-4 .content, .accent-4 .content h1 {border-color: #5F82A2}

.accent-5 .content h1 em {color: #E3A242}
.accent-5 .sidebar {background-color: #E3A242;}
.accent-5 .content, .accent-5 .content h1 {border-color: #E3A242}

.accent-6 .content h1 em {color: #A25F5F}
.accent-6 .sidebar {background-color: #A25F5F;}
.accent-6 .content, .accent-6 .content h1 {border-color: #A25F5F}

.accent-7 .content h1 em {color: #795548}
.accent-7 .sidebar {background-color: #795548;}
.accent-7 .content, .accent-7 .content h1 {border-color: #795548}