.accent-1 .content, .accent-1 .content h1 {border-color: #5FA297}
.accent-1 .content h1 em {color: #5FA297}

.accent-2 .content, .accent-2 .content h1 {border-color: #5FA25F}
.accent-2 .content h1 em {color: #5FA25F}

.accent-3 .content, .accent-3 .content h1 {border-color: #645FA2}
.accent-3 .content h1 em {color: #645FA2}

.accent-4 .content, .accent-4 .content h1 {border-color: #5F82A2}
.accent-4 .content h1 em {color: #5F82A2}

.accent-5 .content, .accent-5 .content h1 {border-color: #E3A242}
.accent-5 .content h1 em {color: #E3A242}

.accent-6 .content, .accent-6 .content h1 {border-color: #A25F5F}
.accent-6 .content h1 em {color: #A25F5F}

.accent-7 .content, .accent-7 .content h1 {border-color: #795548}
.accent-7 .content h1 em {color: #795548}

.content {
    width: 450px;
    padding: 30px;
    font-size: 1.4rem;
    animation-delay: 1s;
    border-top: 7px solid;
    margin: 20px 0 0 350px;
    animation-duration: 600ms;
    background-color: #FBFBFB;
    background-size: 100% auto;
    box-shadow: 2px 0 3px 1px rgba(0,0,0,.25);
}

.content p, .content ul {
    padding-left: 20px;
}

.content, .content * {
    transition: all 300ms ease-out;
}

.content:first-of-type {
    margin-top: 60px;
}

.content h1 {
    font-size: 2.3rem;
    padding-left: 15px;
    border-left: 5px solid;
}

.content hr {
    margin-left: -30px;
    width: calc(100% + 60px);
    border-top: 1px solid #e0e0de;
}

.content h2 {
    font-size: 2em;
}

.content h1 em {
    color: blue;
    font-style: normal;
}

.content > *:first-child {
    margin-top: 0;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    font-family: 'Neo Sans Bold', sans-serif;
}

.content h2 {
    margin-top: 50px;
}

.content .gallery {
    height: 250px;
    overflow: hidden;
    margin-left: -30px;
    width: calc(100% + 60px);
}

.content .gallery > * {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}

.content aside[id="gallery-breadcrumbs"] {
    top: 87%;
    left: 50% !important;
    margin-left: -41px !important;
}