.content {
    width: 550px;
    font-size: 1.4rem;
    animation-delay: 1s;
    padding: 0 30px 30px;
    border-top: 7px solid;
    margin: 20px 0 0 350px;
    animation-duration: 600ms;
    background-size: 100% auto;
    /*box-shadow: 2px 0 3px 1px rgba(0,0,0,.25);*/
    box-shadow: 3px 3px 4px -1px rgba(0,0,0,.25);
    background: #FBFBFB url(../img/crossword-a.png);
    min-height: calc(100vh - 60px);
}

.content ul li {
    list-style-type: disc;
    margin-bottom: 10px;
}

.content p {
    line-height: 160%;
}

.content a.btn {
    /*margin: 25px;*/
}

.content.animated-out {
    animation-delay: 1s;
}

.content .unpadded-content {
    width: calc(100% + 60px);
    margin-left: -30px;
}

.content .nav-back:hover {
    color: #0F3F9D;
}

.content p, .content ul {
    padding-left: 20px;
}

.content, .content * {
    transition: all 300ms ease-out;
}

.content:first-of-type {
    margin-top: 60px;
}

.content h1 {
    font-size: 2.3rem;
    padding-left: 15px;
    border-left: 5px solid;
}

.content hr {
    border: 0; /* reset */
    margin-left: -30px;
    width: calc(100% + 60px);
    border-top: 1px solid #e0e0de;
    margin-top: 0;
    margin-bottom: 0;
}

.content h2 {
    font-size: 2em;
}

.content h3 {
    font-size: 1.5rem;
    color: #7A7A7A;
    /*padding-left: 35px;*/
}

.content h1 em {
    color: blue;
    font-style: normal;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    font-family: 'Neo Sans Bold', sans-serif;
}

.content h2 {
    margin-top: 50px;
}

.content .gallery {
    height: 250px;
}



/*.content .gallery > * {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}

.content aside[id="gallery-breadcrumbs"] {
    top: 87%;
    left: 50% !important;
    margin-left: -41px !important;
}*/

.content .slick-slide,
.content .slick-list,
.content .slick-track {
    height: 100%;
}

.content .gallery .slick-slide {
    background-size: cover;
    background-position: center center;
}

.content .gallery .slick-prev {
    left: 20px;
}

.content .gallery .slick-next {
    right: 20px;
}

.content .gallery .slick-dots {
    color: white;
    bottom: -50px;
}

.content .member-list-header-container {
    padding: 10px 30px;
    background-color: rgba(0, 0, 0, 0.06);
}

.content .member-list-header {
    margin: 45px 0 0;
    border: none;
    font-size: 4rem;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
}

/* HOME PAGE */
.carousel-with-some-projects {
    height: 360px;
    margin-bottom: 75px;
    position: relative;
}

.carousel-with-some-projects .slick-prev::before,
.carousel-with-some-projects .slick-next::before {
    color: #717171;
}

.carousel-with-some-projects .slick-prev {
    left: 15px;
}

.carousel-with-some-projects .slick-next {
    right: 15px;
}

.carousel-with-some-projects .carousel-content {
    width: 100%;
    height: calc(100% - 60px);
    padding: 20px 60px;
    position: relative;
}

.carousel-with-some-projects .slick-dots {
    bottom: -55px;
}

.carousel-with-some-projects .header {
    background-color: rgba(0, 0, 0, 0.06);
    padding: 7px 7px 7px 30px;
    height: 60px;
}

.carousel-with-some-projects .header h1 {
    margin: 0;
}

.carousel-with-some-projects h1 {
    font-size: 2rem;
}

.carousel-with-some-projects h2 {
    line-height: 2.7rem;
    font-size: 1.8rem;
    margin-top: 15px;
}

.carousel-with-some-projects p {
    padding-left: 5px;
}

.carousel-with-some-projects .image {
    height: 100%;
    background-position: center center;
    background-size: cover;
}

.carousel-with-some-projects .l-col,
.carousel-with-some-projects .r-col {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-with-some-projects .l-col {
    width: 60%;
    padding-right: 10px;
    /*border-right: 1px solid #CDCDCD;*/
}

.carousel-with-some-projects .r-col {
    width: 40%;
    padding-left: 10px;
}

.carousel-with-some-projects .project{
    height: 100%;
}

.carousel-with-some-projects .text {
    cursor: pointer;
}

.carousel-with-some-projects .read-more-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 80px);
    margin-left: 40px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.10);
    opacity: 0;
    text-align: center;
}

.carousel-with-some-projects .read-more-button {
    margin: auto;
}

.carousel-with-some-projects .carousel-content:hover .read-more-overlay {
    opacity: 1;
}

.carousel-with-some-projects .text h2 {
    margin-top: 5px;
}

/* MEMBERS PAGE */
.members .portrait {
    float: right;
    margin-top: -25px;
    margin-left: 10px;
    margin-bottom: 25px;
    height: 120px;
    width: 120px;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    border: 1px solid #D5D5D5;
    background-color: white;
}

.members h3, .members h4, .members h5, .members h6 {
    font-size: 1.5rem;
    color: #7A7A7A;
    padding-left: 35px;
}

/* OUR FRIENDS PAGE */
.friend {
    text-align: center;
    margin-top: 70px;
}

.friend img {
    width: 250px;
    height: auto;
}

/* PROJECTS PAGE */
.projects {
    border-bottom: 1px solid #BBBBBB;
}

.projects .project-area-selection {
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.6rem;
    border-top: 1px solid #BBBBBB;
}

.projects .project-area-button {
    border-bottom: 1px solid #BBBBBB;
    cursor: pointer;
    box-shadow: none;
    line-height: normal;
    color: inherit;
}

.projects .project-area-button:hover {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}

.projects .project-area-button:nth-child(odd) {
    border-right: 1px solid #BBBBBB;
}

.projects .project-area-button {
    width: 50%;
    float: left;
    padding: 0 20px;
    height: 80px;
    display: block;
    border-radius: 0;
    font-size: 1.4rem;
}

.projects .project-list {
    z-index: 5;
}

.projects .project-area-button:hover {
    z-index: 10;
}

.projects .reset-button {
    width: 100%;
    height: 50px;
    display: none;
    border-right: none !important;
}

.projects .reset-button .text-wrapper {
    width: 100%;
}

.projects .reset-button .text-wrapper > * {
    text-align: center !important;
}

.projects .project-area-button .text-wrapper {
    display: table;
    height: 100%;
}

.projects .project-area-button .text-wrapper > * {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.projects .project-area-button img {
    padding-top: 15px;
    margin-right: 15px;
    width: 45px;
}

.projects .link {
    display: block;
}

.projects .project {
    display: block;
    width: 100%;
    color: inherit;
    font-weight: 700;
    font-size: 1.6rem;
    transition: background-color 250ms ease-out;
    font-family: 'Titillium Web', sans-serif;
    padding: 8px 0 8px 30px;
}

.projects .project:first-of-type {
    padding-top: 35px;
}

.projects .project .project-area-tag {
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 1.0rem;
    margin-right: -1px;
    padding: 2px 8px;
    border: 1px solid #B6B6B6;
    opacity: 0.5;
}

.projects .project:hover .project-area-tag {
    opacity: 1;
}

.projects .project .name {
    margin-bottom: -7px;
}

.projects .project:hover {
    background-color: rgba(0, 0, 0, 0.11);
    text-decoration: none;
}

/* PROJECT PAGE */
.breadcrumbs {
    background-color: rgba(0, 0, 0, 0.06);
}

.content .nav-back {
    display: block;
    font-family: Arial, sans-serif;
    padding-top: 20px;
    padding-left: 30px;
    text-decoration: none;
    color: inherit;
    padding-bottom: 10px;
}

/* DONATE PAGE */
.content .content-column p {
    padding: 10px;
}

@media (max-width: 920px) {
    .content {
        margin-left: 255px;
    }
}

@media (max-width: 824px) {
    .content {
        width: 450px;
    }
}

@media (max-width: 724px) {
    .content {
        width: 90%;
        margin: 0 auto;
    }

    .content:first-of-type {
        margin-top: 0px;
    }
}