html, body {
    font-size: 10px;
    min-height: 100%;
   /* height: 1px;*/ /* Fix min-height inherit bug */
}

@font-face {
    font-family: 'Neo Sans Bold';
    src: url(../font/neo_sans_std_bold.woff) format('woff');
    /*src: url(../font/neosans_bold.woff) format('woff');*/
}

body {
    color: #717171;
    font-size: 62.5%;
    font-family: Georgia, sans-serif;
    overflow-y: scroll;
}

body, .background {
    background-size: cover;
    background-position: top center;
}

.background {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: fixed;
}

.main {
    position: relative;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Only blur on project pages */
.single-project .background {
    /*-webkit-filter: blur(1px);
    filter: blur(1px);*/
}

.transition250 {
    transition: all 250ms ease-out;
}

.transition500 {
    transition: all 500ms ease-out;
}

.transition1500 {
    transition: all 1500ms ease-out;
}

.btn {
    font-family: 'Titillium Web', sans-serif;
}

/* prevent FOUC */
.sidebar, .content {
    opacity: 0;
}

/* Undo the damage from materialize -_- */
nav ul li {
    float: none;
}

nav ul.menu li:hover {
    background-color: transparent;
}

nav {
    background-color: #6d8496;
    line-height: normal;
}

/* Custom Facebook Feed modifications :) */
#cff .cff-page-name,
#cff .cff-author-img {
    display: none;
}

#cff .cff-item {
    position: relative;
}

#cff .cff-viewpost-facebook {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#cff .cff-date {
    margin: 0 0 5px !important;
    font-size: 1.2rem;
    transition: all 1s ease-out;
}

#cff .cff-date:hover::after {
    content: ' | Click to visit the Facebook Page.';
}

#cff .cff-author {
    margin: 0;
}