html, body {
    font-size: 10px;
    min-height: 100%;
}

@font-face {
    font-family: 'Neo Sans Bold';
    src: url(../font/neo_sans_std_bold.woff) format('woff');
}

body {
    color: #717171;
    font-size: 62.5%;
    font-family: Georgia, sans-serif;
    overflow-y: scroll;
}

body, .background {
    background-size: cover;
    background-position: top center;
}

.background {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: fixed;
}

.main {
    position: relative;
}

.two-columns {
    columns: 2;
    -moz-columns: 2;
    -webkit-columns: 2;
}

.two-columns p:first-child {
    margin-top: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.transition250 {
    transition: all 250ms ease-out;
}

.transition500 {
    transition: all 500ms ease-out;
}

.transition1500 {
    transition: all 1500ms ease-out;
}

.btn {
    font-family: 'Titillium Web', sans-serif;
}

/* prevent FOUC */
.sidebar, .content {
    opacity: 0;
}

/* Undo the damage from materialize -_- */
nav ul li {
    float: none;
}

nav ul.menu li:hover {
    background-color: transparent;
}

nav {
    background-color: #6d8496;
    line-height: normal;
}

.btn a {
    color: white;
}

i.material-icons {
    vertical-align: -8px;
}

strong {
    font-weight: bold;
}

/* Custom Facebook Feed modifications :) */
#cff .cff-page-name,
#cff .cff-author-img {
    display: none;
}

#cff .cff-item {
    position: relative;
}

#cff .cff-viewpost-facebook {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#cff .cff-date {
    margin: 0 0 5px !important;
    font-size: 1.2rem;
    transition: all 1s ease-out;
}

#cff .cff-date:hover::after {
    content: ' | Click to visit the Facebook Page.';
}

#cff .cff-author {
    margin: 0;
}

/* RIBBON */
.ribbon-container {
    position: relative;
    height: 40px;
    margin: 50px 20px 20px;
}

.ribbon-container:first-of-type {
    margin-top: 15px;
}

.ribbon-container::before {
    content: ' ';
    display: table;
}

.ribbon-stitches-top {
    margin-top:2px;
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}

.ribbon-stitches-bottom {
    margin-bottom:2px;
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
}

.ribbon-stitches-left {
    float: left;
    height: 100%;
    width: 3px;
    left: 0;
    top: 0;
    position: absolute;
    border-right: 1px dashed rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
}

.ribbon {
    background: #26A69A;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    position: absolute;
    height: 40px;
    right: -14px;
    color: #ededed;
    width: calc(100% + 14px);
}

.ribbon-content {
    font-family: 'Neo Sans Bold', sans-serif;
    text-align: right;
    padding: 7px 70px 5px 40px;
}

/* These are the two ribbon "curls". The :before curl is placed to the left, :after to the right */
.ribbon::before, .ribbon::after {
    border-color: #1C7D73;
    border-style: solid;
    border-width: 0;
    border-top-width: 7px; /* This sets the height of the curls, making it half the width to angle the curls more. */
    content: ''; /* Tells the browser to actually generate the pseudo element */
    position: absolute;
}
.ribbon::after {
    /* Position the :after element to the right and below the ribbon element */
    right: 0;
    bottom: -7px; /* Equal to the height of the curl */
    border-right: 14px solid transparent; /* Makes the curl slant left */
}

@media (max-width: 724px) {
    .two-columns {
        columns: 1;
        -moz-columns: 1;
        -webkit-columns: 1;
    }
}